<div class="container mt-5">
  <h1><%= @task["title"] %></h1>
  <div class="alert alert-secondary mt-3" role="alert">
    <%= @task["details"] %>
  </div>
  <br>
  <div class="d-flex flex-row align-items-center mb-3">
    <% if @task["completed"] == false %>
      <i class="fa-regular fa-square"></i>
      <p>This task is not completed yet</p>
    <% else %>
      <i class="fa-regular fa-square-check"></i>
      <p class="m-0 ps-2">This task is completed</p>
    <% end %>
  </div>
  <div>
    <%= link_to "Edit task", edit_task_path(@task) %> -- <%= link_to "Delete task", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> -- <%= link_to "Back to tasks", tasks_path %>
  </div>
</div>
